body{
    background: #d6d4e2;
    font-family: 'Space Grotesk', sans-serif;
    margin: 0;
}

.container{
    display: flex;
    flex-direction: column;
    border-right: solid #787490;
    border-width: thin;
    height: 617px;
    width: 250px;
    
}

#logo{
    display: flex;
    justify-content: center;
    border-bottom: solid #787490 thin;
    padding: 15px;
    
}

#profile{
    display: flex;
    align-items: center;
    
}

#profile > div{
    font-weight: 700;
}

span{
    font-size: 12px;
    color: #787490;
}

#profile img{
    padding: 15px;
}


#menu{
    display: flex;
    flex-direction: column;
    border-top: solid #787490 thin;
    font-weight: 700;
    
}

#menu li{
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 5px;
    margin-top: 10px;
    
}

#menu li:hover{
    filter: drop-shadow(2px 0px 2px orange);
    
}

#menu li img{
    margin-right: 10px;
}