/*@font-face {
    font-family: 'Qatar Capital';
    src: url(./fonts/Qatar\ Capital\ Demo.otf);
    
}*/

body{
    background-color: rgb(71, 23, 116);
    color: white;
    padding-left: 3px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    color: yellow;
    font-family: Oswald, sans-serif;
    font-weight: 400;
    
}

h2{
    color: white;
    font-family: Oswald, sans-serif;
    font-weight: 300;
}

.position{
    color: orange;
}

img{
    height: 12px;
    width: 25px;
    
}

h6{
    color: yellow;
}

table{
    background-color: rgb(37, 4, 68);
    border-radius: 5px;
    border-collapse: collapse;
    
    
    
    
}

table td{
    text-decoration-color: orange;
    border: solid;
    border-width: 1px;
    border-color: orange;    
    border-left: none;
    border-right: none;
    border-bottom: none;
}

th{
    border-bottom: none;
}

td{
    padding: 10px;
   
}



